<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Form</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="/resources/bootstrap.min.css">
    <link rel="shortcut icon" href="/resources/favicon.ico">
</head>
<body onload="javascript:getCategories();javascript:disableElements()">
<script src="/resources/form.js"></script>
<script src="/resources/jquery-3.5.1.slim.min.js"></script>
<script src="/resources/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/searches">Search</a>
                    <a class="nav-item nav-link active" href="/form">Form</a>
                    <a class="nav-item nav-link" href="/items">Items</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/logout">
            <button class="btn btn-danger btn-md" type="submit">Log out</button>
        </form>
    </div>
</nav>

<div class="container my-4">
    <form action="#" th:action="@{/searches}" th:object="${searchDto}" method="post">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputSource">Source</label>
                <select th:field="*{source}" class="form-control" id="inputSource"  onchange="disableElements()" required>
                    <option th:each="sourceOpt : ${T(observer.application.api.Source).values()}"
                            th:value="${sourceOpt}" th:text="${sourceOpt.label}">
                    </option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputKeyword">Keyword</label>
                <input minlength="3" maxlength="40" type="text" class="form-control" id="inputKeyword" th:field="*{keyword}" required>
                <div class="text-danger" th:if="${#fields.hasErrors('keyword')}" th:errors="*{keyword}">Keyword error</div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputCategory">Category</label>
                <select class="form-control" id="category"></select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputCategory">Selected</label>
                <input class="form-control" type="text" id="inputCategory" name="inputCategory" th:field="*{category}" readonly>
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="selectCategoryButton" onclick="getCategories()">Select</button>
        <button type="button" class="btn btn-primary" onclick="clearCategories()">Cancel</button>
        <div class="form-row pt-4">
            <div class="form-group col-md-4">
                <label for="inputPriceFrom">Price from</label>
                <input type="number" min="1" max="100000" class="form-control" id="inputPriceFrom" th:field="*{priceFrom}">
            </div>
            <div class="form-group col-md-4">
                <label for="inputPriceTo">Price to</label>
                <input type="number" min="1" max="100000" class="form-control" id="inputPriceTo" th:field="*{priceTo}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputInterval">Interval</label>
                <select th:field="*{interval}" class="form-control" id="inputInterval">
                    <option value="2">2</option>
                    <option value="5">5</option>
                    <option value="30">30</option>
                    <option value="120">120</option>
                    <option value="360">360</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="text-danger" th:if="${#fields.hasErrors()}">Correct the errors and resubmit</div>
    </form>
</div>
</body>
</html>