<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Items</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
    <h2>Category</h2>

<!--    <form name='f' th:object="${searchDto}" method='GET'>-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td>Select category:</td>-->
<!--                <td>-->
<!--                    <select th:field="*{category}">-->
<!--                        <option value=""> &#45;&#45; </option>-->
<!--                        <option th:each="c : ${categories}"-->
<!--                                th:value="${c.id}"-->
<!--                                th:utext="${c.name}"/>-->
<!--                    </select>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td><input name="submit" type="submit" value="submit" /></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </form>-->

</body>
</html>