<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Allegro form</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/bootstrap.min.css" rel="stylesheet">
</head>
<body onload="javascript:getCategories()">

<div class="container float-left">

<table>
    <form action="#" th:action="@{/searches}" th:object="${searchDto}" method="post">

        <h5>Source</h5>
        <select th:field="*{source}" class="form-control form-control-sm col-sm-6">
            <option th:each="sourceOpt : ${T(allegro.application.api.Source).values()}"
                    th:value="${sourceOpt}" th:text="${sourceOpt.label}">
            </option>
        </select>

        <h5>Category</h5>
        <select class="form-control form-control-sm col-sm-6" id="category"></select>
        <input class="form-control form-control-sm col-sm-5" type="text" id="iCategoryId" name="iCategoryId" th:field="*{category}" />
        <button class="btn btn-primary" type="button" onclick="getCategories()">Select</button>
        <button class="btn btn-primary" type="button" onclick="clearCategories()">Clear</button>

        <h5>Keyword</h5>
        <input class="form-control form-control-sm col-sm-5" type="text" th:field="*{keyword}" />

        <h5>Price from</h5>
        <input class="form-control form-control-sm col-sm-5" type="text" th:field="*{params}"/>

        <h5>Price to</h5>
        <input class="form-control form-control-sm col-sm-5" type="text" />

        <h5>Interval</h5>
        <select th:field="*{interval}" class="form-control form-control-sm col-sm-6">
            <option value="5">5</option>
            <option value="30">30</option>
            <option value="120">120</option>
            <option value="360">360</option>
        </select>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>
</table>

</div>

<script>
    function clearCategories() {
        document.getElementById("category").length = 0;
        getCategories();
    }
</script>

<script>
    function getCategories() {
        var request = new XMLHttpRequest()
        var select = document.getElementById("category");

        var selectedId = '';

        if(typeof select.options[select.selectedIndex] != 'undefined') {
            selectedId = select.options[select.selectedIndex].value;
        }

        request.open('GET', 'http://127.0.0.1/util/categories/allegro?id=' + selectedId, true);

        request.onload = function () {
            var data = JSON.parse(this.response);
            document.getElementById("iCategoryId").value = selectedId;

            if(Object.keys(data).length == 0) return;
            select.options.length = 0;

            data.forEach((category) => {
                var el = document.createElement("option");
                el.textContent = category.name;
                el.value = category.id;
                select.appendChild(el);
            })
        }
        request.send()
    }
</script>

</body>
</html>