<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Form</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/resources/bootstrap.min.css" rel="stylesheet">
</head>
<body onload="onPageLoad()">
<script src="/resources/form.js"></script>
<script src="/resources/jquery-3.5.1.slim.min.js"></script>
<script src="/resources/bootstrap.min.js"></script>
<div th:replace="navbar"></div>
<div class="container my-4">
    <form action="#" method="post" th:action="@{/searches}" th:object="${searchDto}">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputSearchId">Search ID</label>
                <input class="form-control" id="inputSearchId" readonly th:field="*{id}" type="number">
            </div>
            <div class="form-group col-md-4">
                <label for="inputSearchId">Last execution</label>
                <input class="form-control" disabled id="inputLastUpdate" th:field="*{lastExecutionDate}" type="text">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputSource">Source</label>
                <select class="form-control" id="inputSource" onchange="onSourceChange()" required th:field="*{source}">
                    <option th:each="sourceOpt : ${T(observer.application.model.Source).values()}"
                            th:id="${sourceOpt.id}" th:text="${sourceOpt.label}" th:value="${sourceOpt}">
                    </option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputKeyword">Keyword</label>
                <input class="form-control" id="inputKeyword" maxlength="40" minlength="3" required
                       th:field="*{keyword}" type="text">
                <div class="text-danger" th:errors="*{keyword}" th:if="${#fields.hasErrors('keyword')}">Keyword error
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputCategoryName">Category name</label>
                <input class="form-control" id="inputCategoryName" name="inputCategoryName"
                       th:field="*{categoryName}" type="text">
            </div>
            <div class="form-group col-md-4">
                <label for="inputCategoryName">Category ID</label>
                <input class="form-control" id="inputCategoryId" name="inputCategoryId"
                       th:field="*{categoryId}" type="text">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="categorySelector">Categories</label>
                <select class="form-control" id="categorySelector"></select>
            </div>
        </div>
        <button class="btn btn-primary" id="selectCategoryButton" onclick="populateCategorySelector()" type="button">Select
        </button>
        <button class="btn btn-primary" onclick="clearCategorySection()" type="button">Cancel</button>
        <div class="form-row pt-4">
            <div class="form-group col-md-4">
                <label for="inputPriceFrom">Price from</label>
                <input class="form-control" id="inputPriceFrom" max="100000" min="1" th:field="*{priceFrom}"
                       type="number">
            </div>
            <div class="form-group col-md-4">
                <label for="inputPriceTo">Price to</label>
                <input class="form-control" id="inputPriceTo" max="100000" min="1" th:field="*{priceTo}" type="number">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputInterval">Interval</label>
                <select class="form-control" id="inputInterval" th:field="*{intervalMinutes}">
                    <option value="5">5</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="60">60</option>
                    <option value="120">120</option>
                    <option value="360">360</option>
                </select>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <div class="text-danger" th:if="${#fields.hasErrors()}">Correct the errors and resubmit</div>
    </form>
</div>
</body>
</html>