<!DOCTYPE html>
<html lang="en">
<head>
    <title>Allegro form</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/bootstrap.min.css" rel="stylesheet">
</head>
<body onload="javascript:getCategories()">

<div class="container float-left">
    <h4>Categories</h4>

    <form id="categoryForm">
        <select id="category">
        </select>
        <input disabled type="text" id="iCategoryId" name="iCategoryId"><br>
    </form>

    <button onclick="getCategories()">Select</button>
    <button onclick="clearCategories()">Clear</button>
</div>

<script>
    function clearCategories() {
        document.getElementById("category").length = 0;
        getCategories();
    }
</script>
<script>
    function getCategories() {
        var request = new XMLHttpRequest()
        var select = document.getElementById("category");

        var selectedId = '';

        if(typeof select.options[select.selectedIndex] != 'undefined') {
            selectedId = select.options[select.selectedIndex].value;
        }

        request.open('GET', 'http://127.0.0.1/util/categories/allegro?id=' + selectedId, true);

        request.onload = function () {
            var data = JSON.parse(this.response);
            document.getElementById("iCategoryId").value = selectedId;

            if(Object.keys(data).length == 0) return;
            select.options.length = 0;

            data.forEach((category) => {
                var el = document.createElement("option");
                el.textContent = category.name;
                el.value = category.id;
                select.appendChild(el);
            })
        }
        request.send()
    }
</script>
</body>
</html>