<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Allegro app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h4>New items</h4>
    <table class="table table-sm table-striped" xmlns:th="http://www.w3.org/1999/xhtml">
        <thead>
            <tr>
                <th>Item ID</th>
                <th>Title</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}">
                <td><a th:href="${item.url}" target="_blank"><span th:text="${item.itemId}"></span></a></td>
                <td th:text="${item.title}"></td>
                <td th:text="${item.price}"></td>
                <td>
                    <form th:action="@{/item/delete/__${item.itemId}__}" th:method="delete">
                        <input type="hidden">
                        <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>