<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Items</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="120" http-equiv="refresh">
    <link href="/resources/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/favicon.ico" rel="shortcut icon">
</head>
<body onload="displayCounter(countItems())">
<script src="/resources/jquery-3.5.1.slim.min.js"></script>
<script src="/resources/bootstrap.min.js"></script>
<script src="/resources/table-utils.js"></script>
<script src="/resources/items.js"></script>
<div th:replace="navbar"></div>
<form th:action="@{/items}" th:method="delete">
    <div class="container my-4">
        <table class="table table-md table-hover" id="items-table">
            <thead>
            <tr>
                <th scope="col">
                    <input id="checkAll" onclick="toggleCheckboxes(this.checked)" type="checkbox">
                </th>
                <th scope="col">Title</th>
                <th scope="col">Source</th>
                <th scope="col">Created at</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td>
                    <div class="form-check">
                        <input class="form-check-input" name="id" th:value="${item.id}" type="checkbox">
                    </div>
                </td>
                <td>
                    <a target="_blank" th:href="${item.url}">
                        <span th:text="${#strings.abbreviate(item.title, 40)}"></span>
                    </a>
                </td>
                <td th:text="${item.source}"></td>
                <td th:text="${#dates.format(item.createdDate, 'HH:mm:ss')}"></td>
                <td th:text="${item.price}"></td>
                <td>
                    <button class="btn btn-danger" name="id" th:value="${item.id}" type="submit">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
</body>
</html>