<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Items preview</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/resources/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/favicon.ico" rel="shortcut icon">
</head>
<body onload="displayCounter(countItems())">
<script src="/resources/jquery-3.5.1.slim.min.js"></script>
<script src="/resources/bootstrap.min.js"></script>
<script src="/resources/table-utils.js"></script>
<script src="/resources/items.js"></script>
<div th:replace="navbar"></div>
<div class="container my-4">
    <table class="table table-md table-hover" id="items-table">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Source</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td>
                <a target="_blank" th:href="${item.url}">
                    <span th:text="${#strings.abbreviate(item.title, 40)}"></span>
                </a>
            </td>
            <td th:text="${item.source}"></td>
            <td th:text="${item.price}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>