<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Searches</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="120" http-equiv="refresh">
    <link href="/resources/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/favicon.ico" rel="shortcut icon">
</head>
<body onload="countItems()">
<script src="/resources/jquery-3.5.1.slim.min.js"></script>
<script src="/resources/bootstrap.min.js"></script>
<script src="/resources/table-utils.js"></script>
<script src="/resources/searches.js"></script>

<div th:replace="navbar"></div>

<form onsubmit="return remove(this)" th:action="@{/searches}" th:method="delete">
    <div class="container my-4">
        <table class="table table-md table-hover" id="items-table">
            <thead>
            <tr>
                <th scope="col">
                    <input id="checkAll" onclick="toggle(this)" type="checkbox">
                </th>
                <th scope="col">Keyword</th>
                <th scope="col">Source</th>
                <th scope="col">Category</th>
                <th scope="col">Price from</th>
                <th scope="col">Price to</th>
                <th scope="col">Interval</th>
                <th scope="col">Updated at</th>
                <th scope="col">Status</th>
                <th>New</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="searchViewDto : ${searchViewDtoList}">
                <td>
                    <div class="form-check">
                        <input class="form-check-input" name="id" th:value="${searchViewDto.id}" type="checkbox">
                    </div>
                </td>
                <td><a th:href="@{/items/} + ${searchViewDto.id} + @{/preview}"><span
                        th:text="${searchViewDto.keyword}"></span></a></td>
                <td th:text="${searchViewDto.source}"></td>
                <td th:text="${searchViewDto.categoryName}"></td>
                <td th:text="${searchViewDto.priceFrom}"></td>
                <td th:text="${searchViewDto.priceTo}"></td>
                <td th:text="${searchViewDto.timeInterval}"></td>
                <td th:text="${searchViewDto.dateUpdated}"></td>
                <td th:text="${searchViewDto.status}"></td>
                <td>
                    <span th:unless="${searchViewDto.count} == '0'">
                        <a th:href="@{/items/} + ${searchViewDto.id}"><span th:text="${searchViewDto.count}"></span></a>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container my-4">
        <button class="btn btn-primary btn-md" onclick="edit(this)" type="button">Edit</button>
        <input type="hidden">
        <button class="btn btn-primary btn-md" onclick="update()" type="button">Update</button>
        <input type="hidden">
        <button class="btn btn-danger btn-md" type="submit">Delete</button>
    </div>
</form>

</body>
</html>