<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script>
        setTimeout(function(){
            window.location.reload(1);
        }, 120000);
    </script>
</head>
<body>

<div class="container">
    <h4>Search queries</h4>
    <table id="items-table" class="table table-sm table-striped" xmlns:th="http://www.w3.org/1999/xhtml">
        <thead>
        <tr>
            <th>Keyword</th>
            <th>Category ID</th>
            <th>Last update</th>
            <th>Interval [min]</th>
            <th>Notification</th>
            <th>New</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="searchItem : ${search}">
                <td><a th:href="@{/item/list/preview/} + ${searchItem.id}" target="_blank"><span th:text="${searchItem.keyword}"></span></a></td>
                <td th:text="${searchItem.category}"></td>
                <td th:text="${searchItem.lastUpdate}"></td>
                <td th:text="${searchItem.timeInterval}"></td>
                <td><a th:href="@{/search/switch/} + ${searchItem.id}"><span th:text="${searchItem.isActive}"></span></a></td>
                <td><a th:href="@{/item/list/} + ${searchItem.id}" target="_blank"><span th:text="${searchItem.count}"></span></a></td>
                <td>
                    <form th:action="@{/search/delete/__${searchItem.id}__}" th:method="delete" onsubmit="return confirm('Do your really want to delete this entry');">
                        <input type="hidden">
                        <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            <tr>
                <form action="#" th:action="@{/search/add}" th:object="${searchDto}" method="post">
                    <td>
                        <p><input class="form-control form-control-sm col-sm-5" type="text" th:field="*{keyword}" /></p>
                    </td>
                    <td>
                        <p><input class="form-control form-control-sm col-sm-5" type="text" th:field="*{category}" /></p>
                    </td>
                    <td></td>
                    <td>
                        <select th:field="*{interval}" class="form-control form-control-sm col-sm-6">
                            <option value="5">5</option>
                            <option value="30">30</option>
                            <option value="120">120</option>
                            <option value="360">360</option>
                        </select>
                    </td>
                    <td>false</td>
                    <td>0</td>
                    <td>
                        <button class="btn btn-success btn-sm" type="submit">Submit</button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" src="/items-counter.js"></script>
</body>
</html>