<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Searches</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="120" http-equiv="refresh">
    <link href="/resources/bootstrap.min.css" rel="stylesheet">
</head>
<body onload="displayCounter(countItems())">
<script src="/resources/jquery-3.5.1.slim.min.js"></script>
<script src="/resources/bootstrap.min.js"></script>
<script src="/resources/table-utils.js"></script>
<script src="/resources/searches.js"></script>
<div th:replace="navbar"></div>
<form name="form" th:action="@{/searches}" th:method="delete">
    <div class="container my-4">
        <table class="table table-md table-hover" id="items-table">
            <thead>
            <tr>
                <th scope="col">
                    <input id="0" onclick="toggleCheckboxes(this.checked)" type="checkbox">
                </th>
                <th scope="col">Description</th>
                <th scope="col">Source</th>
                <th scope="col">Params</th>
                <th scope="col">Interval</th>
                <th scope="col">Updated at</th>
                <th scope="col">Status</th>
                <th>New</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="searchDto,iterator : ${searchDtos}">
                <td>
                    <div class="form-check">
                        <input class="form-check-input" name="id" th:id="${iterator.index + 1}" th:value="${searchDto.id}" type="checkbox">
                    </div>
                </td>
                <td th:text="${searchDto.description}"></td>
                <td th:text="${searchDto.source.getLabel()}"></td>
                <td th:text="${#strings.abbreviate(searchDto.params, 60)}"></td>
                <td th:text="${searchDto.intervalMinutes}"></td>
                <td th:text="${#dates.format(searchDto.lastExecutionDate, 'HH:mm:ss')}"></td>
                <td th:text="${searchDto.status.getLabel()}"></td>
                <td>
                    <span th:unless="${searchDto.count} == '0'">
                        <a th:href="@{/items/} + ${searchDto.id}"><span th:text="${searchDto.count}"></span></a>
                    </span>
                </td>
                <td class="text-nowrap">
                    <button class="btn btn-primary" th:onclick= "'editSearch('+${searchDto.id}+')'" type="button">Edit</button>
                    <button class="btn btn-primary" th:onclick="'executeSearch('+${searchDto.id}+')'" type="button">Test</button>
                    <button class="btn btn-danger" name="id" th:value="${searchDto.id}" type="submit" onclick="onDelete(event)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
</body>
</html>