<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Searches</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="120">
    <link rel="stylesheet" href="/resources/bootstrap.min.css">
    <link rel="shortcut icon" href="/resources/favicon.ico">
</head>
<body onload="countItems()">
<script src="/resources/jquery-3.5.1.slim.min.js"></script>
<script src="/resources/bootstrap.min.js"></script>
<script src="/resources/table-utils.js"></script>
<script src="/resources/searches.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/searches">Searches</a>
                    <a class="nav-item nav-link" href="/form/search">Form</a>
                    <a class="nav-item nav-link" href="/items">Items</a>
                </div>
            </li>
        </ul>
        <div class="navbar-nav">
            <a class="nav-item nav-link red" href="/logout">Logout</a>
        </div>
    </div>
</nav>

<form th:action="@{/searches}" th:method="delete" onsubmit="return remove(this)">
<div class="container my-4">
    <table id="items-table" class="table table-md table-hover">
        <thead>
            <tr>
                <th scope="col">
                    <input type="checkbox" id="checkAll" onclick="toggle(this)">
                </th>
                <th scope="col">Keyword</th>
                <th scope="col">Source</th>
                <th scope="col">Category</th>
                <th scope="col">Price from</th>
                <th scope="col">Price to</th>
                <th scope="col">Interval</th>
                <th scope="col">Updated at</th>
                <th>New</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="searchViewDto : ${searchViewDtoList}">
                <td>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="id"  th:value="${searchViewDto.id}">
                    </div>
                </td>
                <td><a th:href="@{/items/} + ${searchViewDto.id} + @{/preview}"><span th:text="${searchViewDto.keyword}"></span></a></td>
                <td th:text="${searchViewDto.source}"></td>
                <td th:text="${searchViewDto.categoryName}"></td>
                <td th:text="${searchViewDto.priceFrom}"></td>
                <td th:text="${searchViewDto.priceTo}"></td>
                <td th:text="${searchViewDto.timeInterval}"></td>
                <td th:text="${searchViewDto.dateUpdated}"></td>
                <td>
                    <span th:unless="${searchViewDto.count} == '0'">
                        <a th:href="@{/items/} + ${searchViewDto.id}"><span th:text="${searchViewDto.count}"></span></a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container my-4">
    <button class="btn btn-primary btn-md" type="button" onclick="edit(this)">Edit</button>
    <input type="hidden">
    <button class="btn btn-primary btn-md" type="button" onclick="update()">Update</button>
    <input type="hidden">
    <button class="btn btn-danger btn-md" type="submit">Delete</button>
</div>
</form>

</body>
</html>